// greys
$grey-color: #607D8B;
$grey-color-light: #B0BEC5;
$grey-color-dark: #263238;

// text 
$text-color-light-on-dark: rgba(255,255,255,1);
$text-color-light-on-dark-secondary: rgba(255,255,255,0.7);
$text-color-light-on-dark-hint: rgba(255,255,255,0.3);

$text-color-dark-on-light: rgba(0,0,0,0.87);
$text-color-dark-on-light-secondary: rgba(0,0,0,0.54);
$text-color-dark-on-light-hint: rgba(0,0,0,0.26);

// primary
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;

// accent
$accent-color:         #FF4081;
$accent-color-dark:         #C51162;
$accent-color-light:         #FF80AB;



